# Solution to Hamoye Quiz using dataset from the Food and Agriculture Organization of the United Nations.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='latin-1')

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

### Question 11

In [4]:
df[df.Item == "Animal fats"].groupby("Item")[["Y2014", "Y2017"]].sum()

                 Y2014      Y2017
Item
Animal fats  209460.54  269617.53

### Question 12

In [5]:
df[["Y2015"]].describe()

               Y2015
count   59395.000000
mean      135.235966
std      1603.403984
min     -3161.000000
25%         0.000000
50%         0.080000
75%         8.460000
max    181137.000000

### Question 13

In [6]:
df["Y2016"].isnull().sum()

1535

### Question 14

In [7]:
df.corrwith(df["Element Code"]).sort_values(ascending=False)

Element Code    1.000000
Y2014           0.024457
Y2018           0.024279
Y2017           0.024254
Y2015           0.023889
Y2016           0.023444
Area Code      -0.000209
Item Code      -0.024683
dtype: float64

### Question 15 and 16

In [8]:
df.groupby("Element").sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

### Question 17 and 18

In [9]:
df.groupby("Element")["Y2018"].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

### Question 19

In [10]:
df[df.Element == "Import Quantity"].groupby(["Element", "Area"])['Y2018'].sum()

Element          Area
Import Quantity  Algeria                        36238.29
                 Angola                          7769.67
                 Benin                           7008.24
                 Botswana                        1908.42
                 Burkina Faso                    2605.64
                 Cabo Verde                       499.66
                 Cameroon                        4188.88
                 Central African Republic          75.02
                 Chad                             491.95
                 Comoros                            2.92
                 Congo                           1785.27
                 Côte d'Ivoire                   9271.21
                 Djibouti                        3784.92
                 Egypt                          53954.20
                 Eswatini                         936.53
                 Ethiopia                        5655.24
                 Ethiopia PDR                       0.00
                 Gabon                           1079.75
                 Gambia                          1212.10
                 Ghana                           9914.68
                 Guinea                          4707.95
                 Guinea-Bissau                    497.72
                 Kenya                          11188.96
                 Lesotho                         1016.97
                 Liberia                         1203.77
                 Madagascar                      3214.79
                 Malawi                           520.20
                 Mali                            1962.06
                 Mauritania                      3575.74
                 Mauritius                       1672.39
                 Morocco                        19448.50
                 Mozambique                      5552.03
                 Namibia                         1462.04
                 Niger                           2390.20
                 Nigeria                        21923.38
                 Rwanda                          1734.44
                 Sao Tome and Principe             84.10
                 Senegal                         8005.24
                 Seychelles                        77.71
                 Sierra Leone                    1659.22
                 South Africa                   16192.45
                 Sudan                           9130.11
                 Sudan (former)                     0.00
                 Togo                            3625.48
                 Tunisia                        11030.91
                 Uganda                          3209.87
                 United Republic of Tanzania     1863.68
                 Zambia                           990.75
                 Zimbabwe                        1673.84
Name: Y2018, dtype: float64

### Question 20

In [11]:
len(set(df.Area))

49